*.pth
*.so
src/quadsim_cuda.egg-info/
runs
# copliot.md
# Design.md
src/build/
__pycache__/
wandb/
*.log
logs/
paper/experiment/results/*
configs/paper_final_full_auto*
configs/paper_final_full_auto_*
configs/slit_active_sensing_auto_*
.waylog/*
paper/paper_tex.zip

# LaTeX intermediate / temporary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# Latexmk / engine helpers
*.nav
*.snm
*.vrb
*.dvi

# Editor/OS noise
.DS_Store
