*.pth
*.so
src/quadsim_cuda.egg-info/
runs
# copliot.md
# Design.md
src/build/
__pycache__/
wandb/
*.log
logs/
paper/experiment/results/*
configs/paper_final_full_auto*
configs/paper_final_full_auto_*
configs/slit_active_sensing_auto_*
.waylog/*